.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .signup-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .signup-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  